head
	title Stock Picker
body
	#stockAppReactEntry(class='app-container')
	script(src='/js/app.bundle.js')
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css")



